@import "tailwindcss";

body {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
}

@theme inline {
  --font-sans: var(--font-inter);
  --font-serif: var(--font-playfair);

  --color-primary: #FF5B22;
  --color-primary-hover: #E34A19;

  --color-background: #FDF8F5;
  --color-foreground: #1A1817;

  --color-beige: #FCEADE;
  --color-dark: #1A1817;

  --animate-fade-in: fadeIn 0.5s ease-out forwards;
}

:root {
  --background: #FDF8F5;
  --foreground: #1A1817;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-playfair), serif;
}